<!doctype html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>{% if title %}{{ title }}{% else %}Brightway2 Web UI{% endif %}</title>
	<meta name="description" content="The web user interface for the Brightway2 LCA engine">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="{{ blueprint_screen }}" type="text/css" media="screen, projection">
	<link rel="stylesheet" href="{{ blueprint_print }}" type="text/css" media="print">
	<!--[if lt IE 8]><link rel="stylesheet" href="{{ blueprint_ie }}" type="text/css" media="screen, projection"><![endif]-->
	<script src="http://yui.yahooapis.com/3.7.3/build/yui/yui-min.js"></script>
	<script src="http://d3js.org/d3.v2.min.js"></script>
</head>
<body>
	<!-- body -->
</body>
</html>